body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #ccc;
}

main,
h1 {
  padding: 0 1rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(94, 12, 170);
  padding: 0 1.5rem;
}

.main-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-nav ul li {
  padding: 0;
  margin: 0 1rem;
}

.main-nav ul li a {
  text-decoration: none;
  color: rgb(10, 255, 10);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.main-nav ul li a:hover,
.main-nav ul li a:active,
.main-nav ul li a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 0.4rem;
}

.user-list {
  margin: 0 1rem;
  border: 1px solid #333;
}

.user-list tr th,
td {
  padding: 0 3rem;
  border-left: 1px solid #333;
  text-align: center;
}

.user-list tr th,
td {
  border-bottom: 1px solid #333;
}

.user-list tr th:first-child,
td:first-child {
  border-left: none;
}
